---
import '../styles/global.css'

const pageTitle="Funny achieved";

const identity = {
    name: "Jack lol",
    country: "Murica",
    occupation: "Student ;_;",
    hobbies: ['nerd crap', 'scoot board'],

};
const skills = ['python','linux','astro(hopefully)']
const content = true;
const finished = false;
const goal = 4
const skillColor = 'navy'
const fontWeight = 'Bold'
const textCase = 'full-size-kana'
---

<html lang="en">
<head>
    <title>{pageTitle}</title>
    <style define:vars={{skillColor,fontWeight,textCase}}>
        h1{
            color: purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
</head>
<body>
<a href="/">home</a>
<a href="/blog">blog</a>
<h1>about me lmao</h1>
<h3>Hello</h3>
<ul>
<li>My name is {identity.name}</li>
<li>I live in {identity.country}}</li>
<li>I currently am a {identity.occupation}</li>
{identity.hobbies.length >= 2 &&
<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[2]}</li>
}
</ul>
<p>My skills are: </p>
<ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

<p>imma be honest idk what im doing</p>


<p>But im trying my best</p>

{content && <p>Astro pretty cool</p>}
{finished && <p>i am finished with the funny tutorial</p>}
{goal === 3 ? <p>My goal is to finish in 3 days</p>: <p>My Goal is not 3 days</p>}

</body>
</html>
