---
import Footer from "../components/Footer.astro";
import Layout from "../layout.astro";
import Container from "../components/Container.astro/";

const identity = {
  name: "Jack lol",
  country: "The USA",
  occupation: "Student ;_;",
  hobbies: ["Programming", "Skate Boarding ", "Cooking", "Sketch Comedy", "DnD", "Traveling <3"],
};
const skills = ["Python", "linux", "Astro (Working On)", "And A Variety of Computer Things"];

// const skillColor = 'navy'
// const fontWeight = 'Bold'
// const textCase = 'full-size-kana'
---

<Layout title="Chilll">
  <div class="flex items-center justify-center py-2">
    <h1
      class="h-10 w-56 translate-y-1 transform items-center rounded-md bg-purple-900 text-4xl text-coral-pink"
    >
      About Me : D
    </h1>
  </div>
  <div
    class="flex w-auto -translate-x-24 translate-y-28 transform items-center justify-center bg-auto py-2 text-6xl"
  >
    <Container color="blue" width="56"> Hello &#9996; My Name Is Jack </Container>
  </div>

  <div
    class="flex translate-x-48 translate-y-1 transform items-center justify-center text-center text-4xl"
  >
    <Container color="salmon" width="30">
      I Live In {identity.country} &#x1F1FA;&#x1F1F8;
    </Container>
  </div>

  <div
    class="flex translate-x-48 translate-y-36 transform items-center justify-center bg-auto text-center text-4xl"
  >
    <Container color="yellow" class="flex">
      <p class="text-center">This is my son</p>
      <img src="/images/miso.jpg" class="h-40 w-80 rounded-md" alt="miso" />
      <p class="text-center">His name is Miso</p>
    </Container>
  </div>

  <div
    class="flex -translate-x-24 translate-y-72 transform list-inside items-center justify-center bg-auto py-2 text-center"
  >
    <Container color="green" width="4">
      <p class="text-3xl">My Skills Include</p>
      <li>{skills[0]}</li>
      <li>{skills[1]}</li>
      <li>{skills[2]}</li>
      <li>{skills[3]}</li>
    </Container>
  </div>

  <div
    class="flex translate-x-48 translate-y-64 transform list-inside justify-center bg-auto py-1 text-center"
  >
    <Container color="purple-400" width="4" class="">
      <p class="text-3xl">My Hobbies are</p>
      <li>{identity.hobbies[0]}</li>
      <img class="h-76 w-72 rounded-md" src="/images/me.jpg" alt="dripped" />
    </Container>
  </div>

  <div
    class="flex -translate-x-32 translate-y-80 transform list-inside justify-center bg-auto px-4 py-6 text-center"
  >
    <Container color="red-600" ,width="5">
      <li>{identity.hobbies[1]}</li>
      <video width="320" height="60" controls>
        <source src="/video/scoot.mp4" type="video/mp4" />
      </video>
    </Container>
  </div>

  <div
    class="flex translate-x-44 translate-y-144 transform list-inside justify-center bg-auto py-12 text-center"
  >
    <Container color="green" width="5">
      <p class="text-center text-3xl">And Much More!!!</p>
      <li>{identity.hobbies[2]}</li>
      <li>{identity.hobbies[3]}</li>
      <li>{identity.hobbies[4]}</li>
      <li>{identity.hobbies[5]}</li>
    </Container>
  </div>
  <div
    class="flex translate-x-56 translate-y-144 transform list-inside justify-center bg-auto px-2 py-24 text-center"
  >
    <Container color="pink" ,width="5">
      <p>Basically The Point Of this Website</p>
      <p>Is to show a little bit of my life (blog coming soon)</p>
      <p>Thanks For Joining me on this Journey &#9829;</p>
    </Container>
  </div>
</Layout>
<Footer />
