---
import Footer from "../components/Footer.astro";
import Layout from "../layout.astro";
import Container from "../components/Container.astro";
import "../styles/global.css";
const identity = {
  name: "Jack lol",
  country: "The USA",
  occupation: "Student ;_;",
  hobbies: ["Programming", "Skate Boarding ", "Cooking", "Sketch Comedy", "DnD", "Traveling <3"],
};
const skills = ["Python", "linux", "Astro (Working On)", "And A Variety of Computer Things"];

// const skillColor = 'navy'
// const fontWeight = 'Bold'
// const textCase = 'full-size-kana'
---

<Layout title="Chilll">
  <div class="flex items-center justify-center py-2">
    <h1
      class="h-10 w-56 translate-y-1 transform items-center rounded-md bg-purple-900 text-4xl text-coral-pink"
    >
      About Me : D
    </h1>
  </div>
  <div
    class="flex w-auto -translate-x-24 translate-y-28 transform items-center justify-center bg-blue text-6xl"
  >
    <Container color="blue" width="56"> Hello &#9996; My Name Is Jack </Container>
  </div>n

  <div
    class="flex translate-x-48 translate-y-1 transform items-center justify-center text-center text-4xl"
  >
    <Container color="salmon" width="30">
      I Live In {identity.country} &#x1F1FA;&#x1F1F8;
    </Container>
  </div>

  <div
    class="flex translate-x-48 translate-y-36 transform items-center justify-center bg-yellow text-center text-4xl"
  >
    <Container color="yellow" class="flex">
      <p class="text-center">This is my son</p>
      <img src="/images/miso.jpg" class="h-40 w-80 rounded-md" alt="miso" />
      <p class="text-center">His name is Miso</p>
    </Container>
  </div>

  <div
    class="flex -translate-x-24 translate-y-72 transform list-inside items-center justify-center bg-green bg-auto text-center"
  >
    <Container color="green" width="4">
      <p class="text-3xl">My Skills Include</p>
      <li>{skills[0]}</li>
      <li>{skills[1]}</li>
      <li>{skills[2]}</li>
      <li>{skills[3]}</li>
    </Container>
  </div>

  <div
    class="flex translate-x-48 translate-y-72 transform list-inside justify-center bg-cyan-700 text-center"
  >
    <Container color="cyan-700" width="4">
      <p class="text-3xl">My Hobbies Include</p>
      <li>{identity.hobbies[0]}</li>
      <img class="h-76 w-72 rounded-md" src="/images/me.jpg" alt="dripped" />
    </Container>
  </div>

  <div
    class="flex -translate-x-32 translate-y-80 transform list-inside justify-center bg-red-600 bg-auto px-4 text-center"
  >
    <Container color="red-600" ,width="5">
      <li>{identity.hobbies[1]}</li>
      <video width="320" height="60" controls>
        <source src="/video/scoot.mp4" type="video/mp4" />
      </video>
    </Container>
  </div>

  <div class="flex bg-amber-300 bg-center">
    <Container color="amber-300" width="5" class="">
      <p class="text-center text-3xl">And Much More!!!</p>
      <li>{identity.hobbies[2]}</li>
      <li>{identity.hobbies[3]}</li>
      <li>{identity.hobbies[4]}</li>
      <li>{identity.hobbies[5]}</li>
    </Container>
  </div>
</Layout>
<Footer class="translate-y-32" />
