---
import Footer from "../components/Footer.astro";
import Layout from "../layout.astro";

const identity = {
  name: "Jack lol",
  country: "Murica",
  occupation: "Student ;_;",
  hobbies: ["nerd crap", "scoot board"],
};
const skills = ["python", "linux", "astro(hopefully)"];
const content = true;
const finished = false;
const goal = 4;
// const skillColor = 'navy'
// const fontWeight = 'Bold'
// const textCase = 'full-size-kana'
---

<Layout title="Chilll">
  <h1 class="text-center">about me lol</h1>
  <h3 class="text-center">Hello</h3>
  <div class="text-center">
    <ul class="inline-block">
      <li>My name is {identity.name}</li>
      <li>I live in {identity.country}}</li>
      <li>I currently am a {identity.occupation}</li>
      {
        identity.hobbies.length >= 2 && (
          <>
            <p class="-translate-x-16 transform">Two of my hobbies are:</p>
            <li>{identity.hobbies[0]}</li>
            <li>{identity.hobbies[1]}</li>
          </>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul class="inline-block text-[#000080]">
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>

  <p class="text-center">imma be honest idk what im doing</p>

  <p class="text-center">But im trying my best</p>

  {content && <p class="text-center">Astro pretty cool</p>}
  {finished && <p class="text-center">i am finished with the funny tutorial</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days</p>
    ) : (
      <p class="text-center">My Goal is not 3 days</p>
    )
  }

  <Footer />
</Layout>
